<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>DevTeam</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Team</h1>
        <a href="/devs/new" class="btn btn-success">New Dev</a>
        <a href="/devs/dynamo/stats" class="btn btn-success">Dynamo Statistics</a>
        <% team.forEach(dev=>{ %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= dev.name.S %>
                    </h4>
                    <div class="card-text mb-2">
                        <%= dev.email.S %>
                    </div>
                    <div class="card-text mb-2">
                        <%= dev.job.S %>
                    </div>
                    <a href="devs/<%= dev.id.S %>" class="btn btn-primary">View</a>
                    <form action="/devs/<%= dev.id.S %>" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>